
.modalContainer {
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.customOverlay {
  background: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
}
div.customModal {
  max-width: 500px;
  width: 100%;
  margin: 2rem;
  height: 80vh;
  position: relative;
  background-color: transparent;
  padding: 0;
}

.closeButton {
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
  padding: 9px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid rgb(165, 165, 165);
  background-color: inherit;

  svg > path {
    fill: white;
  }
}


@keyframes customEnterOverlayAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes customLeaveOverlayAnimation {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes customEnterModalAnimation {
  0% {
    transform: scale(0.8);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes customLeaveModalAnimation {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0.8);
    opacity: 0;
  }
}