.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 5px;
  padding: 15px;
}

.networksContainer {
  display: flex;
  flex-direction: column;
  gap: 5px;

  button {
    width: 100%;
    cursor: pointer;
  }
}

.networkButton {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  gap: 15px;
}

.explorerLink {
  transform: rotate(-125deg);
  line-height: 0;
  font-size: 0;
  height: 22px;
  width: 22px;
}

.modalTitle {
  margin: 6px 0;
  padding: 0 18px;
}

.networksList {
  padding: 6px;
  display: flex;
  flex-direction: column;
  gap: 6px;
}